* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}

.main-container {
    width: 805px;
    margin: 35px auto;
}

.container {
    /* width: 100%; */
    border: 1px solid #dadce0;
    border-radius: 8px;
}

.left-area {
    margin: 36px 0 20px 55px;
}

.side-logo{
    width: 300px;
    float: right;
    margin: 90px 24px;
}
.google-logo img {
    width: 89px;
}

form{
    margin-bottom: 60px;
}


.heading p{
    font-weight: 400;
    font-size: 24px;
}

form p {
    color: #5f6368;
    font-size: 13px;
    margin: 5px 0 18px 10px;
}

form input {
    padding: 10px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    margin-top: 27px;
    margin-right: 5px;
}

.email input{
    width: 364px;
}

.btn {
    margin-bottom: 16px;
}

.btn a {
    text-decoration: none;
    color: #1a73e8;
}

.sign{
    float: left;
}


.sign a{
    text-decoration: none;
    color: #1a73e8;
}

.button-next{
    margin: 0 317px;
}
.button-next button{
    background-color: #1a73e8;
    padding: 11px;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}

.button-next a{
    text-decoration: none;
}

footer{
    line-height: 60px;
    background-color: #1a73e8;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 50px;
    border-radius: 5px;
}
